README.md
docker-compose.yml
dockerfile
**/node_modules
**/test-results/
**/playwright-report/
**/results/
**/playwright/.cache/
.env
page/*.js
helpers/*.js
reporters/*.js
index.js
eslint.js
prettier.js
**/*.d.ts
!types.d.ts